*{
    margin: 0%;
    padding: 0%;
    font-family: 'geologica';
    /* user-select: none; */
}

body{
    overflow-x: hidden;
}

/* ---------------------------------------- */ 

/* navigation bar */
.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    margin: auto;
    height: 4rem;
    font-weight: bolder;
    user-select: none;
    /* border: 2px solid red; */
}
/* items in navigation bar */
.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    padding: 5px;
    color: black;
    text-decoration: none;
}
.nav-item:hover{
    cursor: pointer;
}


/* nike logo in nav */
#logo{
    cursor: pointer;
}
.logo{
    height: 3.4rem;
    width: 3.6rem;
}

/* ----------------------------------------- */
/* item revome banner */
.banner{
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky; top: 10px; left: 900px;
    border: 2px solid rgb(216, 249, 211);
    border-radius: 18px;
    background-color: rgb(216, 249, 211);
    height: 30px;
    width: 220px;
    margin: auto;
    margin-top: 3px;
    padding: 4px; padding-right: 3px; padding-left: 3px;
    opacity: 1;
}

/* ------------------------------------------ */
/* container where the item is */
.container{
    display: block;
    width: 860px;
    margin: auto;
    /* border: 2px solid black; */
}

/* title of the website */
.cart{
    display: flex;
    padding: 5px;
    padding-left: 20px;
    width: 90%;
    margin: auto;
    font-size: 28px;
    /* border: 2px solid mediumblue; */
}

/* where the img and the text, price, etc. is */
.item{
    display: flex;
    width: 785px;
    margin: auto;
    /* border: 2px solid rgb(0, 255, 187); */
}

/* informarion about it */
.info-div{
    display: block;
    width: 400px;
    /* border: 2px solid rgb(30, 95, 208); */
}
/* information seperatly for shoes in '.info-div' */
.infos{
    display: flex;
    height: 90px;
    padding-top: 20px;
    /* border: 2px solid rgb(230, 0, 255); */
}

/* the box left, with the img of the shoes */ 
.shoesImages{
    width: 90px;
    /* border: 2px solid cornflowerblue; */
    user-select: none;
} 
img{
    width: 90px;
}

.description{
    /* border: 2px solid red; */
    width: 300px;
}
.description>div{
    display: block;
}

#shoeDetail-removeIcon{
    /* border: 2px solid lightseagreen; */
    display: flex;
}

#shoeDetail{
    width: 250px;
    /* border: 2px solid black; */
}

.title{
    color: black;
    font-size: 17px;
    width: 300px;
    padding-left: 2px;
    /* margin: 2px; */
    /* border: 2px solid red; */
}

/* info under the shoes name */
.text{
    color: grey;
    font-size: 14px;
    /* width: 200px; */
    /* border: 2px solid deeppink; */
}

/* price of the shoe */
.price{
    display: flex;
    justify-content: flex-end;
    color: black;
    font-size: 15px;  
    margin: 4px;
    /* border: 2px solid burlywood; */
    width: 90px;
}

/* icon to remove a shoe from cart */
/* #remove-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
} */
#delete-icon>i{
    /* border:2px solid darkgreen; */
    margin-top: 30px;
    cursor: pointer;
    font-size: 15px;
}

/* ------------------------ */
.right-div{
    width: 365px;
    margin-top: -30px;
    /* border: 2px solid red; */
}


.summary{
    width: 350px;
    margin-left: 10px;
    /* border: 2px solid blue; */
}
.header{
    font-size: 20px;
    padding: 2px;
}

/* .price-calculation{
    border: 2px solid saddlebrown;
} */
.price-calculation-css, .price-div{
    display: flex;
    margin: 4px;
    margin-bottom: 10px;
    /* border: 2px solid red; */
}

.product, .subtotal{
    width: 90%;
    display: flex;
    align-items: center;
}

.delivery{
    width: 90%;
}
/* .delivery-price{
    border: 2px solid blue;
} */


/* ----------------- */
.button-div{
    /* border: 2px solid green; */
    color: white;
    width: 280px;
    height: 105px;
    margin-left: 45px;
    margin-top: 30px;
}
/* btn for 'continue shopping' and 'check out' */
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red;     */
    text-decoration: none;
}

/* coninue shopping */
#continueShopping, #checkout{
    color: white;
    background-color: black;
    /* border: 1px solid black; */
    border-radius: 10px;
    width: 250px;
    height: 40px;
    margin: 5px 0px;
    font-size: medium;
    transition: 0.5s;
    cursor: pointer;
    user-select: none;
}
#continueShopping:hover, #checkout:hover{
    background-color: rgb(74, 74, 74);
    border: transparent;
    transition: 0.5s;
}


/* ----------------------------------------------------------------------------------- */
/* pop-up for delete item in cart  */
.pop-up{
    display: none;
    width: 340px;
    height: 150px;
    position: absolute; top: 80px; left: 385px;
    border: 1px solid black;
    border-radius: 6px;
    background: white;
    /* (1.horizontal offset/2.vertical offset/3.blurr/4.color speading) */
    box-shadow: 5px 5px 3px 2px rgb(107, 107, 107);
}  
.pop-up>h1{
    font-size: larger;
    padding-left: 7px;
    padding-top: 4px;
}  
.pop-up>button{
    width: 90px;
    height: 20px;
    margin: 10px 35px;
}  

/* -------------------------------------------------------------------------------- */

/* footer */
#footer{
    /* border: 2px solid orange; */
    background-color: black;
    font-size: 12px;
    font-weight: bold;
    font-family: "Helvetica";
    margin-bottom: 0px;
    margin-top: 150px;
}

/* top of the footer div */
.top{
    /* border: 2px solid red; */
    display: flex;
}

/* middle of the footer */
.middle{
    /* border: 2px solid lightblue; */
    display: flex;
    justify-content: flex-end;
    /* height: 7vh; */
    height: 30px;
}

/* bottom of the footer */
.bottom{
    /* border: 2px solid rgb(206, 255, 71); */
    height: 30px;
    display: flex;
}

/* the first div from left  */
.div1, .div2, .div3, .div4, .div5{
    /* border: 2px solid yellow; */
    width: 222px;
    height: 200px;
    color: white;
    font-size: small;
}
.div5{
    display: flex;
    justify-content: space-evenly;
}


/* div where the icons for social media are */
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    margin: 10px;
    font-size: x-large;
    width: 40px;
    height: 50px;
    margin-top: 15px;
}
.icons>a{
    color: rgb(145, 145, 145);
}
.icons>a:hover{
    color: white;
}



.item1{
    display: block;
    /* border: 2px solid green; */
    width: 200px;
    margin: auto;
    margin: 10px;
}
.item1>a{
    color: white;
    text-decoration: none;
}

/* thin text in the footer  */
.text{
    /* border: 2px solid rgb(204, 86, 86); */
    margin: 10px;
}
.text>a{
    text-decoration: none;
    color: white;
    font-size: x-small;
    color: rgb(145, 145, 145);
}
.text>a:hover{
    color: white;
}

/* text in div middle */
.text2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 2px solid lightsalmon; */
    width: 380px;
    /* padding-left: 22px; */
}
.text2>a{
    color: rgb(145, 145, 145);
    text-decoration: none;
    font-size: x-small;
}
.text2>a:hover{
    color: white;
}

/* text in the bottom left where the contry is located */
.text3{
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid deeppink; */
    width: 400px;
}
.uk{
    /* border: 2px solid red; */
    width: 120px;
    display: flex;
}

/* link of the united kingdom location with an location arrow */
.uk>a{
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid lightgoldenrodyellow; */
    width: 120px;
    font-size: 12px;
    text-decoration: none;
}

.rights{
    color: white;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.rights>p{
    /* border: 2px solid lightskyblue; */
    color: rgb(145, 145, 145);
    font-size: smaller;
}


/* text in the bottom right, div4 */
.text4{
    /* border: 2px solid magenta; */
    width: 710px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 22px;
}
.text4>a{
    color: rgb(145, 145, 145);
    font-size: smaller;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}
.text4>a:hover{
    color: white;
}