*{
    margin: 0%;
    padding: 0%;
    font-family: 'geologica';
    /* user-select: none; */
}

body{
    overflow-x: hidden;
}

/* ---------------------------------------- */ 

/* navigation bar */
.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    margin: auto;
    height: 4rem;
    font-weight: bolder;
    user-select: none;
    /* border: 2px solid red; */
}
/* items in navigation bar */
.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    padding: 5px;
    color: black;
    text-decoration: none;
}
.nav-item:hover{
    cursor: pointer;
}


/* nike logo in nav */
#logo{
    cursor: context-menu;
}
.logo{
    height: 3.4rem;
    width: 3.6rem;
}

/* ---------------------------- */


/* container where the item is */
.container{
    display: block;
    width: 860px;
    margin: auto;
    /* height: 50vh;  */
    /* border: 2px solid black; */
    margin-top: 30px;
}

/* title of the website */
.cart{
    display: flex;
    padding: 5px;
    padding-left: 20px;
    width: 90%;
    margin: auto;
    /* font-size: x-large; */
    font-size: 28px;
}

/* where the img and the text, price, etc. is */
.item{
    display: flex;
    /* align-items: center; */
    width: 90%;
    margin: auto;
    /* height: 80%; */
    /* border: 2px solid rgb(0, 255, 187); */
}

/* div with the shoes  */
#selectedShoes{
    display: flex;
    /* border: 2px solid rgb(20, 255, 67); */
}

/* informarion about it */
.info-div{
    display: block;
    width: 400px;
    /* border: 2px solid rgb(208, 30, 30); */
}
/* information seperatly for shoes in '.info-div' */
.infos{
    display: flex;
    height: 90px;
    padding-top: 20px;
    /* border: 2px solid red; */
}

/* the box left, with the img of the shoes */ 
.shoesImages{
    /* margin: 5px; */
    width: 90px;
    /* border: 2px solid cornflowerblue; */
    user-select: none;
} 
img{
    width: 90px;
}

.description{
    /* border: 2px solid red; */
    width: 200px;
}
.title{
    color: black;
    /* font-size: large; */
    font-size: 17px;
    margin: 4px;
}

/* info under the shoes name */
.text{
    color: grey;
    font-size: 14px;
    /* margin: -4px; */
}

/* price of the shoe */
.price{
    color: black;
    font-size: 15px;  
    margin: 4px;
}

/* ------------------------ */
.summary{
    width: 50%;
    height: 90%;
    margin-left: 40px;
}
.header{
    /* font-size: x-large; */
    font-size: 20px;
    padding: 2px;
}

/* .price-calculation{
    border: 2px solid saddlebrown;
} */
.price-calculation1, .price-calculation2, .price-calculation3{
    display: flex;
    margin: 4px;
    margin-bottom: 10px;
}
/* .price-calculation2{
    display: flex;
    margin: 4px;
    margin-bottom: 10px;
}
.price-calculation3{
    display: flex;
    margin: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
} */

.subtotal{
    width: 90%;
    display: flex;
    align-items: center;
}

.delivery{
    width: 90%;
}
/* .delivery-price{
    border: 2px solid blue;
} */


/* ----------------- */
.button-div{
    /* border: 2px solid green; */
    color: white;
    width: 280px;
    height: 105px;
    margin-left: 650px;
}
/* btn for 'continue shopping' and 'check out' */
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red;     */
    text-decoration: none;
}

/* coninue shopping */
#continueShopping, #checkout{
    color: white;
    background-color: black;
    /* border: 1px solid black; */
    border-radius: 10px;
    width: 250px;
    height: 40px;
    margin: 5px 0px;
    font-size: medium;
    transition: 0.5s;
    cursor: pointer;
    user-select: none;
}
#continueShopping:hover, #checkout:hover{
    background-color: rgb(74, 74, 74);
    border: transparent;
    transition: 0.5s;
}

/* -------------------------------------------------------------------------------- */

/* footer */
#footer{
    /* border: 2px solid orange; */
    width: 100%;
    margin: auto;
    height: 55vh;
    background-color: black;
    font-size: 12px;
    font-weight: bold;
    font-family: "Helvetica";
    margin-bottom: 0px;
    margin-top: 200px;
}

/* top of the footer div */
.top{
    /* border: 2px solid red; */
    display: flex;
    height: 40vh;
}

/* middle of the footer */
.middle{
    /* border: 2px solid lightblue; */
    display: flex;
    justify-content: flex-end;
    height: 7vh;
}

/* bottom of the footer */
.bottom{
    /* border: 2px solid rgb(206, 255, 71); */
    height: 15vh;
    display: flex;
}

/* the first div from left  */
.div1, .div2, .div3, .div4, .div5{
    /* border: 2px solid yellow; */
    width: 20%;
    height: 40vh;
    color: white;
    font-size: small;
}
.div5{
    display: flex;
    justify-content: space-evenly;
}

.item1{
    display: block;
    /* border: 2px solid green; */
    width: 85%;
    margin: auto;
    margin: 10px;
}
.item1>a{
    color: white;
    text-decoration: none;
}

/* thin text in the footer  */
.text{
    /* border: 2px solid rgb(204, 86, 86); */
    margin: 10px;
}
.text>a{
    text-decoration: none;
    color: white;
    font-size: x-small;
    color: rgb(145, 145, 145);
}
.text>a:hover{
    color: white;
}

/* text in div middle */
.text2{
    /* border: 2px solid lightsalmon; */
    width: 30%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.text2>a{
    color: rgb(145, 145, 145);
    text-decoration: none;
    font-size: x-small;
}
.text2>a:hover{
    color: white;
}

/* text in the bottom left where the contry is located */
.text3{
    /* border: 2px solid deeppink; */
    height: 10vh;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}
.uk{
    /* border: 2px solid red; */
    width: 30%;
    display: flex;
}

/* link of the united kingdom location with an location arrow */
.uk>a{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid lightgoldenrodyellow; */
    color: white;
    text-decoration: none;
    height: 4vh;
    width: 100%;
    margin-left: 5px;
    font-size: 12px;
}
.uk>a>i{
    margin-bottom: 3px;
}

.rights{
    color: white;
    width: 50%;
    height: 10vh;
    /* border: 2px solid red; */
}
.rights>p{
    /* border: 2px solid lightskyblue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(145, 145, 145);
    width: 100%;
    height: 4vh;
    font-size: smaller;
}


/* text in the bottom right, div4 */
.text4{
    /* border: 2px solid magenta; */
    width: 60%;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 22px;
}
.text4>a{
    color: rgb(145, 145, 145);
    font-size: smaller;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}
.text4>a:hover{
    color: white;
}


/* div where the icons for social media are */
.icons{
    /* border: 2px solid red; */
    margin: 10px;
    font-size: x-large;
    width: 40px;
    height: 50px;
    margin-top: 15px;
}
.icons>a{
    color: rgb(145, 145, 145);
}
.icons>a:hover{
    color: white;
}